.employee-dashboard {
    display: flex;
    flex-direction: row;
    background-color: #f8f9fa;
    /* padding: 20px; */
    /* height: 100vh; */
    align-items: flex-start;
}

.sidebar-toggle {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #343a40;
    padding: 20px;
    height: 95vh;
    align-items: flex-start;
}

.content {
    margin-top: 55px;
    margin-left: 5px;
    margin-right: 30px;
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* BEGIN: Custom styles */
.employee-dashboard {
    background-color: #f2f2f2;
    /* padding: 30px; */
}

.sidebar {
    background-color: #343a40;
    padding: 30px;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-button {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.sidebar-button.active {
    background-color: #007bff;
}

.content {
    margin-left: 50px;
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* END: Custom styles */