.leave-request {
    max-width: 400px;
    margin: 0 auto;
}

.leave-request h2 {
    margin-bottom: 10px;
}

.leave-request .warning-message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    z-index: 9999;
    position: relative;
    animation: fadeOut 3s linear forwards;
}

.leave-request .warning-message.show {
    display: block;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.leave-request form {
    margin-bottom: 20px;
}

.leave-request .form-group {
    margin-bottom: 20px;
}

.leave-request label {
    display: block;
    margin-bottom: 5px;
}

.leave-request input[type="text"],
.leave-request input[type="date"],
.leave-request textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.leave-request button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.leave-request button:hover {
    background-color: #0056b3;
}

.submit-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    z-index: 9999;
    position: relative;
    animation: fadeOut 3s forwards;

}

.mention-radio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}