.admin-sidebar {
    background-color: #f0f0f0;
    width: 200px;
    height: 100%;
    /* position: fixed;
    left: 0;
    top: 0; */
}

.admin-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.admin-sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

.admin-sidebar ul li:hover {
    background-color: #ccc;
}