.admin-dashboard-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 200px;
    background-color: #f2f2f2;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar li.active {
    background-color: #ddd;
}

.admin-content {
    flex: 1;
    padding: 20px;
}

.admin-title {
    margin-bottom: 10px;
}

.admin-details {
    margin-top: 20px;
}

.admin-details h3 {
    margin-bottom: 10px;
}

.admin-details p {
    margin-bottom: 5px;
}

.admin-details strong {
    font-weight: bold;
}